<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xceed.Document.NET" version="5.0.25228.6154" targetFramework="net48" />
  <package id="Xceed.Drawing.NET" version="1.0.25228.6154" targetFramework="net48" />
  <package id="Xceed.Pdf" version="5.0.25228.6154" targetFramework="net48" />
</packages>